doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="mobile-web-app-capable" content="yes")

		title Natural History Museum audio explorer
		//- link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		link(href="/styles/output/main.css", rel="stylesheet")
		script(src='/js/output/poisson.js')
		script(src='/js/output/threetone.js')
		script(src='/js/output/main.js')

	body
		block content
