mixin pageDev
	doctype html
	html
		head
			meta(charset="utf-8")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			meta(http-equiv="X-UA-Compatible" content="IE=edge")

			//- Make it look like an app
			meta(name="apple-mobile-web-app-capable" content="yes")
			meta(name="mobile-web-app-capable" content="yes")

			title Natural History Museum audio explorer
			//- link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

			//- link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")
			link(href="/styles/output/main.css", rel="stylesheet")
			script(src='/js/output/poisson.js')
			script(src='/js/output/threetone.js')
			script(src='/js/output/main.js')

		body
			block
			script(src='/js/output/threeScene.js')

