script(src="bower_components/aframe/dist/aframe.js")
script(src="bower_components/jquery/dist/jquery.min.js")
script
script(src="script.js")
link(href="css/style.css", rel="stylesheet")
body
	a-scene
		a-sphere(position="0 0 -1",radius="1.25",color="#EF2D5E")
		a-sky(color="#ECECEC")
		a-entity(position="0 100 0", rotation="-90 0 0")
			a-camera